/* estilo general */
.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #f8f9fa;
}

/* barra superior */
.topbar {
    -fx-background-color: #a8c69f;
    -fx-padding: 12 12 12 12;
}

/* titulo */
.titulo {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

/* botones superiores */
.boton-topbar {
    -fx-background-color: #2f3e46;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-padding: 7 15 7 15;
    -fx-cursor: hand;
}

.boton-topbar:hover {
    -fx-background-color: #354f52;
}

/* boton usuario */
.boton-usuario {
    -fx-background-color: #2f3e46;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-padding: 7 15 7 15;
    -fx-cursor: hand;
}

.boton-usuario:hover {
    -fx-background-color: #354f52;
}

/* bienvenida */
.contenedor-bienvenida {
    -fx-max-width: 850;
}

.descripcion-bienvenida {
    -fx-fill: #555555;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

/* card prodcuto */
.card-producto {
    -fx-background-color: white;
    -fx-background-radius: 18;
    -fx-border-radius: 18;
    -fx-padding: 15 15 15 15;
    -fx-spacing: 12;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0,0,0,0.10),
        12,
        0,
        0,
        4
        );
}

/* hover */
.card-producto:hover {
    -fx-effect: dropshadow(
        gaussian,
        rgba(0,0,0,0.20),
        25,
        0,
        0,
        8
        );
    -fx-translate-y: -6;
}

/* imagen */
.card-producto ImageView {
    -fx-background-radius: 12;
}

/* nombre */
.card-producto .label {
    -fx-font-size: 14px;
}

/* precio */
.card-producto .label:nth-child(3) {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2f3e46;
}

/* stock */
.card-producto .label:nth-child(4) {
    -fx-text-fill: #777777;
    -fx-font-size: 12px;
}

.descripcion-producto {

    -fx-text-fill: #777777;

    -fx-font-size: 13px;

    -fx-line-spacing: 3;

    -fx-max-width: 280;

}

/*boton favorito*/
.boton-favorito {

    -fx-background-color: #dddddd;

    -fx-text-fill: #2f3e46;

    -fx-font-weight: bold;

    -fx-background-radius: 10;

    -fx-cursor: hand;

    -fx-pref-height: 35;

}

.boton-favorito:hover {

    -fx-background-color: #cccccc;

}

/* boton comprar */
.boton-comprar {
    -fx-background-color: #52796f;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-pref-height: 35;
}

.boton-comprar:hover {
    -fx-background-color: #3d5a52;
}

/* footer */
.footer {
    -fx-background-color: #eeeeee;
    -fx-padding: 10 10 10 10;
}

/* menu usuario */
.context-menu {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #dddddd;
    -fx-padding: 15 15 15 15;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0,0,0,0.15),
        15,
        0,
        0,
        4
        );
}

.separator {
    -fx-padding: 0 0 0 0;
    -fx-opacity: 0;
}

/* saludo */
.menu-item.saludo-menu {
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-padding: 16 16 16 16;
}

.menu-item.saludo-menu .label {
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: 900;
}

/* item normal */
.menu-item.item-menu {
    -fx-background-color: transparent;
    -fx-background-radius: 12;
    -fx-padding: 18 12 18 12;
}

.menu-item.item-menu .label {
    -fx-text-fill: black;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

.menu-item.item-menu:focused {
    -fx-background-color: #f2f2f2;
}

/* cerrar sesion */
.menu-item.item-cerrar {
    -fx-background-color: #ff1a1a;
    -fx-background-radius: 12;
    -fx-padding: 18 12 18 12;
}

.menu-item.item-cerrar .label {
    -fx-text-fill: white;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

.menu-item.item-cerrar:focused {
    -fx-background-color: #e60000;
}