/* estilo general */
.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #f8f9fa;
}

/* barra superior */
.topbar {
    -fx-background-color: #a8c69f;
    -fx-padding: 12 12 12 12;
}

/* titulo */
.titulo {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

/* botones superiores */
.boton-topbar {
    -fx-background-color: #2f3e46;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-padding: 7 15 7 15;
    -fx-cursor: hand;
}

/* efecto hover de botones superiores */
.boton-topbar:hover {
    -fx-background-color: #354f52;
}

/* boton usuario (perfil) */
.boton-usuario {
    -fx-background-color: #2f3e46;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-padding: 7 15 7 15;
    -fx-cursor: hand;
}

/* hover del boton usuario */
.boton-usuario:hover {
    -fx-background-color: #354f52;
}

/* bienvenida */
.contenedor-bienvenida {
    -fx-max-width: 850;
}

/* texto descriptivo de bienvenida */
.descripcion-bienvenida {
    -fx-fill: #555555;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

/* card producto */
.card-producto {
    -fx-background-color: white;
    -fx-background-radius: 18;
    -fx-border-radius: 18;
    -fx-padding: 15 15 15 15;
    -fx-spacing: 12;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.10), 8, 0, 0, 3);
}

/* hover suavizado de la card producto */
.card-producto:hover {
    -fx-background-color: #f5f5f5;
}

/* imagen dentro de la tarjeta */
.card-producto ImageView {
    -fx-background-radius: 12;
}

/* texto general dentro de la tarjeta */
.card-producto .label {
    -fx-font-size: 14px;
}

/* precio del producto */
.precio {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2f3e46;
}

/* texto de stock */
.stock {
    -fx-text-fill: #777777;
    -fx-font-size: 12px;
}

/* descripcion del producto */
.descripcion-producto {
    -fx-text-fill: #777777;
    -fx-font-size: 13px;
    -fx-line-spacing: 3;
    -fx-max-width: 280;
}

/* boton de favorito */
.boton-favorito {
    -fx-background-color: #dddddd;
    -fx-text-fill: #2f3e46;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-pref-height: 35;
}

/* hover boton favorito */
.boton-favorito:hover {
    -fx-background-color: #cccccc;
}

/* boton de compra */
.boton-comprar {
    -fx-background-color: #52796f;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-pref-height: 35;
}

.combo-box {
    -fx-background-color: #e9ecef; /* gris claro suave */
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #ced4da;
    -fx-padding: 5 10 5 10;
    -fx-font-size: 13px;
}

/* texto */
.combo-box .list-cell {
    -fx-text-fill: #495057;
    -fx-background-color: transparent;
}

/* flecha */
.combo-box .arrow-button {
    -fx-background-color: transparent;
}

.combo-box .arrow {
    -fx-background-color: #495057;
}

/* hover */
.combo-box:hover {
    -fx-background-color: #dee2e6;
    -fx-border-color: #52796f;
}

/* cuando está abierto */
.combo-box:showing {
    -fx-background-color: #dee2e6;
}

/* dropdown */
.combo-box-popup .list-view {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: #ced4da;
}

/* items */
.combo-box-popup .list-cell {
    -fx-text-fill: #495057;
}

/* hover item */
.combo-box-popup .list-cell:hover {
    -fx-background-color: #f1f3f5;
}

/* seleccionado */
.combo-box-popup .list-cell:selected {
    -fx-background-color: #ced4da;
}

/* Botón Limpiar */
.btn-limpiar {
    -fx-background-color: transparent;
    -fx-border-color: #52796f;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-text-fill: #52796f;
    -fx-font-weight: bold;
    -fx-padding: 6 14 6 14;
}

/* Hover */
.btn-limpiar:hover {
    -fx-background-color: #52796f;
    -fx-text-fill: white;
}

/* Click */
.btn-limpiar:pressed {
    -fx-background-color: #3a5a40;
}

.btn-invertir {
    -fx-background-color: #e9ecef; 
    -fx-text-fill: #495057;       
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 6 14 6 14;        
    -fx-font-size: 13px;
    -fx-cursor: hand;
    -fx-border-color: transparent;
}

.btn-invertir:hover {
    -fx-background-color: #dee2e6;
}

.btn-invertir:pressed {
    -fx-background-color: #ced4da;
}

/* hover boton comprar */
.boton-comprar:hover {
    -fx-background-color: #3d5a52;
}

/* footer */
.footer {
    -fx-background-color: #eeeeee;
    -fx-padding: 10 10 10 10;
}

/* menú usuario */
.context-menu {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #dddddd;
    -fx-padding: 15 15 15 15;
}

/* separador invisible para las opciones del menu de usuario */
.separator {
    -fx-padding: 0;
    -fx-opacity: 0;
}

/* item de saludo en menu */
.menu-item.saludo-menu {
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-padding: 16;
}

/* texto del saludo */
.menu-item.saludo-menu .label {
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: 900;
}

/* items del menu */
.menu-item.item-menu {
    -fx-background-color: transparent;
    -fx-background-radius: 12;
    -fx-padding: 18 12 18 12;
}

/* texto de items del menu */
.menu-item.item-menu .label {
    -fx-text-fill: black;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

/* efecto focus en items */
.menu-item.item-menu:focused {
    -fx-background-color: #f2f2f2;
}

/* item de cerrar sesion */
.menu-item.item-cerrar {
    -fx-background-color: #ff1a1a;
    -fx-background-radius: 12;
    -fx-padding: 18 12 18 12;
}

/* texto de cerrar sesion */
.menu-item.item-cerrar .label {
    -fx-text-fill: white;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

/* hover/focus cerrar sesion */
.menu-item.item-cerrar:focused {
    -fx-background-color: #e60000;
}